*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: linear-gradient(135deg, $primary, $tertiary);
    background-size: cover;
    font-family: $font-default;
    font-size: 12px;
    line-height: 1.3;
    overflow: hidden;
}